.container {
  background-image: linear-gradient(
    to bottom,
    rgba(5, 39, 54, 0) 5%,
    rgba(1, 24, 32, 1) 100%
  );

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  overflow: hidden;
}
