.container {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
}
