.container {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 65, 91, 0) 0%,
      rgba(2, 24, 30, 1) 8%
    ),
    url("/images/howitworksbackground.png");
  background-position: top;
  z-index: 1000;
  overflow: hidden;
}


.start {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 65, 91, 0) 0%,
      rgba(11, 46, 60, 1) 15%
    ),
    url("/images/howitworkscentre1.png");
  background-position: top;
}
