.container {
  position: relative;
  background-image: url("/images/communitybackground.png");
  background-size: cover;
  height: 50vh;
  scroll-snap-align: start;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
