.container {
  position: relative;
  background-image: url("/images/communitybackground.png");
  background-size: cover;
  min-height: 50vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
