@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.navbar {
  background: linear-gradient(to bottom, #000000, #333333);
}

.footer {
  position: absolute;
  bottom: 0px;
}